In [13]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_col

In [14]:
df  =  pd.read_excel("UYdata.xlsx")

In [15]:
print(df.shape)
print(df.dtypes)

(3003, 90)
Unnamed: 0             int64
villagecode_str        int64
google_km            float64
tehsil_e             float64
treatment            float64
                      ...
treatment12          float64
hhhead_mrtlstatus      int64
firewood_qty_b       float64
dung_qty_b           float64
_merge                 int64
Length: 90, dtype: object

In [16]:
df.head()

,Unnamed: 0,villagecode_str,google_km,tehsil_e,treatment,noncompliance_village,treatment012,treatment_h,treatment_hs,hhscr_8_b,...,monthly_sumb,monthly_wetb,att_missing,treatment01,treatment02,treatment12,hhhead_mrtlstatus,firewood_qty_b,dung_qty_b,_merge
0,1,475907,26.152000,1.0,2.0,0,1,0,1,0,...,0.000000,0.00,0,NaN,1.0,1.0,1,0.0,0.0,3
1,2,475911,28.915001,1.0,2.0,0,1,0,1,0,...,0.000000,0.00,0,NaN,1.0,1.0,1,0.0,0.0,3
2,3,475913,30.469000,1.0,2.0,0,1,0,1,1,...,0.333333,0.00,0,NaN,1.0,1.0,1,0.0,0.0,3
3,4,475914,32.390999,1.0,2.0,0,1,0,1,0,...,0.000000,0.00,0,NaN,1.0,1.0,1,0.0,500.0,3
4,5,475915,28.500000,1.0,2.0,0,1,0,1,1,...,0.666667,0.25,0,NaN,1.0,1.0,1,0.0,0.0,3

In [17]:
# total number of villages: 150
# each village has 20-21 observations
# number of villages in each category: C(0.0), H(1.0), H+S(2.0)
# need to know this information for culstering standard errors
df.groupby("treatment")["villagecode_str"].nunique()

treatment
0.0    50
1.0    46
2.0    46
Name: villagecode_str, dtype: int64

In [18]:
# to understand each column better, value counts
for col in df.columns[2:]:
    print(df[col].value_counts(normalize=True).round(2).astype(str) + ' %' +
          " " + 
          (df[col].value_counts().astype(str))
         )
    print("\n")
    print("###----------------------------------------###")
    print("\n")

9.995     0.01 % 40
6.894     0.01 % 21
19.737    0.01 % 21
12.073    0.01 % 21
15.481    0.01 % 20
            ...
12.216    0.01 % 20
21.666    0.01 % 20
14.908    0.01 % 20
14.271    0.01 % 20
18.539    0.01 % 20
Name: google_km, Length: 149, dtype: object


###----------------------------------------###


1.0    0.37 % 1101
4.0     0.29 % 866
5.0     0.28 % 829
2.0     0.04 % 113
3.0      0.01 % 40
Name: tehsil_e, dtype: object


###----------------------------------------###


0.0    0.35 % 1000
2.0     0.32 % 922
1.0     0.32 % 921
Name: treatment, dtype: object


###----------------------------------------###


0    0.95 % 2843
1     0.05 % 160
Name: noncompliance_village, dtype: object


###----------------------------------------###


1    0.61 % 1843
0    0.39 % 1160
Name: treatment012, dtype: object


###----------------------------------------###


0    0.69 % 2082
1     0.31 % 921
Name: treatment_h, dtype: object


###----------------------------------------###


0    0.69 % 2081
1     0.31 % 922
Name: treatment_hs, dtype: object


###----------------------------------------###


1    0.67 % 2018
0     0.33 % 985
Name: hhscr_8_b, dtype: object


###----------------------------------------###


0    0.94 % 2819
1     0.06 % 184
Name: hhgender_1_b, dtype: object


###----------------------------------------###


1    0.93 % 2788
3     0.07 % 199
2        0.0 % 9
4        0.0 % 7
Name: mrtlstatus_1_b, dtype: object


###----------------------------------------###


6     0.22 % 653
5      0.2 % 597
4     0.16 % 473
7     0.14 % 420
8     0.08 % 241
3     0.06 % 191
9     0.05 % 151
10     0.03 % 89
11     0.02 % 65
12     0.01 % 44
2      0.01 % 31
13     0.01 % 20
14      0.0 % 11
15      0.0 % 11
18       0.0 % 2
17       0.0 % 2
19       0.0 % 1
27       0.0 % 1
Name: hhnum_b, dtype: object


###----------------------------------------###


3     0.44 % 1307
1      0.21 % 641
2      0.19 % 570
4      0.16 % 479
99        0.0 % 6
Name: hh_caste_b, dtype: object


###----------------------------------------###


1    0.75 % 2254
0     0.25 % 749
Name: fire_1_b, dtype: object


###----------------------------------------###


1    0.53 % 1584
0    0.47 % 1419
Name: fire_9_b, dtype: object


###----------------------------------------###


1    0.88 % 2642
0     0.12 % 361
Name: dung_1_b, dtype: object


###----------------------------------------###


1    0.74 % 2230
0     0.26 % 773
Name: lpg_1_b, dtype: object


###----------------------------------------###


1    0.68 % 2048
0     0.32 % 955
Name: cookarea_1_b, dtype: object


###----------------------------------------###


1    0.75 % 2264
0     0.25 % 739
Name: cookarea_2_b, dtype: object


###----------------------------------------###


30    0.08 % 241
25    0.07 % 201
35    0.06 % 176
28    0.06 % 175
40    0.06 % 170
26    0.05 % 152
22    0.05 % 148
24    0.04 % 129
32    0.04 % 123
45    0.04 % 110
23    0.03 % 102
38     0.03 % 99
20     0.03 % 98
55     0.03 % 94
50     0.03 % 93
27     0.03 % 82
21     0.02 % 71
60     0.02 % 64
36     0.02 % 60
29     0.02 % 51
33     0.02 % 51
42     0.02 % 50
48     0.01 % 44
19     0.01 % 34
34     0.01 % 33
37     0.01 % 31
52     0.01 % 26
18     0.01 % 24
31     0.01 % 21
43     0.01 % 20
58     0.01 % 18
56     0.01 % 18
39     0.01 % 18
47     0.01 % 18
46     0.01 % 16
17      0.0 % 14
65      0.0 % 13
70      0.0 % 12
41      0.0 % 11
53      0.0 % 11
49      0.0 % 11
44      0.0 % 10
54       0.0 % 9
57       0.0 % 8
16       0.0 % 8
62       0.0 % 6
15       0.0 % 5
51       0.0 % 4
61       0.0 % 4
59       0.0 % 3
64       0.0 % 2
68       0.0 % 2
14       0.0 % 2
63       0.0 % 2
86       0.0 % 1
66       0.0 % 1
76       0.0 % 1
78       0.0 % 1
12       0.0 % 1
Name: age_pc_b, dtype: object


###----------------------------------------###


1    0.51 % 1542
0    0.49 % 1461
Name: occu_b, dtype: object


###----------------------------------------###


0    0.56 % 1696
1    0.44 % 1307
Name: obcpop_b, dtype: object


###----------------------------------------###


1    0.92 % 2765
0     0.08 % 238
Name: hindu_b, dtype: object


###----------------------------------------###


1    0.83 % 2478
0     0.17 % 525
Name: ashacred_b, dtype: object


###----------------------------------------###


0    0.68 % 2042
1     0.32 % 961
Name: education_b, dtype: object


###----------------------------------------###


1    0.76 % 2283
0     0.24 % 720
Name: educationmid_b, dtype: object


###----------------------------------------###


0    0.73 % 2183
1     0.27 % 820
Name: healthstatus_b, dtype: object


###----------------------------------------###


0.000000    0.03 % 80
1.000000    0.02 % 60
0.599401    0.01 % 21
0.628062    0.01 % 21
0.163455    0.01 % 21
              ...
0.567227    0.01 % 20
0.920500    0.01 % 20
0.663915    0.01 % 20
0.400445    0.01 % 20
0.738457    0.01 % 20
Name: irrigation_b, Length: 145, dtype: object


###----------------------------------------###


1    0.79 % 2361
0     0.21 % 642
Name: road_b, dtype: object


###----------------------------------------###


0    0.59 % 1784
1    0.41 % 1219
Name: edu_hhhead_b, dtype: object


###----------------------------------------###


0    0.64 % 1925
1    0.36 % 1078
Name: pc_edu_b, dtype: object


###----------------------------------------###


0    0.6 % 1792
1    0.4 % 1211
Name: scst_b, dtype: object


###----------------------------------------###


4.811588    0.0 % 2
4.258085    0.0 % 2
4.743116    0.0 % 2
3.370323    0.0 % 1
7.596214    0.0 % 1
             ...
4.596877    0.0 % 1
5.036688    0.0 % 1
8.376695    0.0 % 1
9.130360    0.0 % 1
7.629595    0.0 % 1
Name: distance_dealer_close_b, Length: 3000, dtype: object


###----------------------------------------###


1.0    0.75 % 2209
0.0     0.25 % 740
Name: fire_1_e, dtype: object


###----------------------------------------###


0.0    0.59 % 1576
1.0    0.41 % 1109
Name: fire_9_e, dtype: object


###----------------------------------------###


1.0    0.9 % 2664
0.0     0.1 % 285
Name: dung_1_e, dtype: object


###----------------------------------------###


1.0    0.83 % 2461
0.0     0.17 % 488
Name: cookarea_1_e, dtype: object


###----------------------------------------###


1.0    0.87 % 2574
0.0     0.13 % 375
Name: cookarea_2_e, dtype: object


###----------------------------------------###


12.0    0.07 % 201
30.0    0.07 % 200
9.0     0.06 % 160
10.0    0.06 % 160
20.0    0.05 % 140
22.0    0.05 % 140
7.0     0.05 % 140
25.0    0.05 % 140
15.0    0.04 % 120
13.0    0.04 % 100
5.0      0.03 % 81
8.0      0.03 % 80
16.0     0.03 % 80
35.0     0.03 % 80
24.0     0.03 % 80
3.0      0.03 % 80
18.0     0.02 % 61
14.0     0.02 % 60
27.0     0.02 % 60
21.0     0.02 % 60
32.0     0.02 % 60
2.0      0.02 % 60
33.0     0.01 % 40
23.0     0.01 % 40
31.0     0.01 % 40
28.0     0.01 % 40
11.0     0.01 % 40
17.0     0.01 % 40
19.0     0.01 % 40
42.0     0.01 % 20
26.0     0.01 % 20
43.0     0.01 % 20
38.0     0.01 % 20
6.0      0.01 % 20
45.0     0.01 % 20
Name: subdistricthqdist_c, dtype: object


###----------------------------------------###


100.0    0.06 % 180
98.4     0.03 % 101
98.2      0.03 % 80
96.0      0.03 % 80
95.2      0.03 % 80
            ...
93.2      0.01 % 20
86.7      0.01 % 20
97.0      0.01 % 20
89.5      0.01 % 20
99.2      0.01 % 20
Name: bv85_c, Length: 99, dtype: object


###----------------------------------------###


0.0     0.03 % 100
26.5     0.02 % 60
19.3     0.01 % 40
34.3     0.01 % 40
41.8     0.01 % 40
           ...
43.0     0.01 % 20
54.1     0.01 % 20
29.2     0.01 % 20
40.6     0.01 % 20
32.1     0.01 % 20
Name: bv91_c, Length: 131, dtype: object


###----------------------------------------###


 1.826477    0.01 % 40
-0.149904    0.01 % 25
 2.091395    0.01 % 24
 1.588610    0.01 % 20
 1.951857    0.01 % 20
               ...
 2.175960      0.0 % 1
 1.915301      0.0 % 1
 0.730357      0.0 % 1
 1.829329      0.0 % 1
 2.454310      0.0 % 1
Name: assets_index, Length: 1389, dtype: object


###----------------------------------------###


0    0.92 % 2765
1     0.08 % 238
Name: nonhindu, dtype: object


###----------------------------------------###


0.0      0.3 % 871
5.0      0.1 % 275
3.0     0.09 % 259
4.0     0.09 % 251
2.0     0.08 % 237
6.0     0.07 % 210
1.0     0.06 % 174
7.0     0.06 % 172
8.0     0.05 % 140
9.0      0.03 % 92
10.0     0.02 % 70
11.0     0.02 % 47
12.0     0.01 % 26
14.0     0.01 % 18
13.0     0.01 % 17
15.0      0.0 % 10
16.0       0.0 % 5
17.0       0.0 % 3
18.0       0.0 % 3
19.0       0.0 % 1
20.0       0.0 % 1
Name: totrefills_omc_e2, dtype: object


###----------------------------------------###


0.0     0.34 % 979
4.0     0.09 % 262
3.0     0.09 % 253
2.0     0.08 % 235
1.0     0.08 % 233
5.0     0.08 % 229
6.0     0.06 % 174
7.0     0.05 % 158
8.0     0.04 % 101
9.0     0.03 % 100
10.0     0.02 % 61
11.0     0.01 % 34
12.0     0.01 % 28
13.0     0.01 % 18
15.0       0.0 % 6
14.0       0.0 % 6
16.0       0.0 % 3
21.0       0.0 % 1
17.0       0.0 % 1
Name: totrefills_omc_b2, dtype: object


###----------------------------------------###


-1.237406     0.2 % 570
-1.554658    0.12 % 352
 1.352052    0.09 % 257
 0.568587    0.07 % 198
-1.396032    0.06 % 182
                ...
 2.057328       0.0 % 1
 1.169699       0.0 % 1
 1.217152       0.0 % 1
 1.247887       0.0 % 1
 2.270416       0.0 % 1
Name: pcdecisionindex_std_b, Length: 67, dtype: object


###----------------------------------------###


0    0.75 % 2264
1     0.25 % 739
Name: edu_trt, dtype: object


###----------------------------------------###


0    0.87 % 2607
1     0.13 % 396
Name: edu_trth, dtype: object


###----------------------------------------###


0    0.89 % 2660
1     0.11 % 343
Name: edu_trths, dtype: object


###----------------------------------------###


 0.000000    0.39 % 1160
-0.149904      0.01 % 20
 1.826477      0.01 % 16
 0.689086       0.0 % 13
 1.205741       0.0 % 13
                ...
 0.926297        0.0 % 1
 1.081161        0.0 % 1
 2.066643        0.0 % 1
 2.764228        0.0 % 1
 3.348631        0.0 % 1
Name: asset_trt, Length: 1011, dtype: object


###----------------------------------------###


0.000000    0.69 % 2082
1.826477       0.0 % 10
1.205741        0.0 % 9
2.128395        0.0 % 8
2.393313        0.0 % 8
               ...
1.485602        0.0 % 1
2.123647        0.0 % 1
1.113533        0.0 % 1
1.406129        0.0 % 1
3.211736        0.0 % 1
Name: asset_trth, Length: 610, dtype: object


###----------------------------------------###


 0.000000    0.69 % 2081
-0.149904       0.0 % 15
 0.768060        0.0 % 8
 2.696288        0.0 % 7
-0.050672        0.0 % 7
                ...
 1.659728        0.0 % 1
 1.555753        0.0 % 1
 1.867903        0.0 % 1
 1.093802        0.0 % 1
 1.651127        0.0 % 1
Name: asset_trths, Length: 634, dtype: object


###----------------------------------------###


 0.000000    0.39 % 1134
-1.237406     0.13 % 376
-1.554658     0.08 % 237
 1.352052     0.06 % 169
 0.568587     0.04 % 116
                ...
 1.247887        0.0 % 1
 1.375779        0.0 % 1
 1.217152        0.0 % 1
 3.212507        0.0 % 1
 2.294143        0.0 % 1
Name: pcdecision_trt, Length: 66, dtype: object


###----------------------------------------###


 0.000000    0.7 % 2022
-1.237406    0.06 % 177
-1.554658    0.04 % 114
 1.352052     0.03 % 92
 0.568587     0.02 % 66
-1.396032     0.02 % 55
 1.510678     0.02 % 45
-0.349777     0.01 % 40
-0.319042     0.01 % 34
-0.508403     0.01 % 31
 0.409961     0.01 % 21
-0.667029     0.01 % 16
 0.592314     0.01 % 16
-0.477668     0.01 % 15
 4.258762      0.0 % 12
 0.537852      0.0 % 10
-0.295315      0.0 % 10
 2.374581       0.0 % 9
 1.193426       0.0 % 9
 3.023146       0.0 % 9
 0.623049       0.0 % 9
 0.599322       0.0 % 9
 0.433688       0.0 % 8
 2.422034       0.0 % 6
 0.251335       0.0 % 5
 1.456217       0.0 % 4
 3.371133       0.0 % 4
-0.636294       0.0 % 4
 3.340398       0.0 % 4
 0.220600       0.0 % 4
 0.464423       0.0 % 4
 0.440696       0.0 % 3
 0.275062       0.0 % 3
 2.429042       0.0 % 3
 2.263408       0.0 % 3
 2.398307       0.0 % 3
 3.181772       0.0 % 2
 2.239681       0.0 % 2
 1.541413       0.0 % 2
 2.081055       0.0 % 2
 1.486951       0.0 % 2
 1.534405       0.0 % 2
 0.305797       0.0 % 2
 0.488149       0.0 % 2
 1.479943       0.0 % 2
-0.612568       0.0 % 1
 3.316672       0.0 % 1
 0.646776       0.0 % 1
 2.135517       0.0 % 1
 1.217152       0.0 % 1
 2.483504       0.0 % 1
 1.138964       0.0 % 1
-0.453941       0.0 % 1
 2.452769       0.0 % 1
 0.379226       0.0 % 1
 2.104782       0.0 % 1
Name: pcdecision_trth, dtype: object


###----------------------------------------###


 0.000000    0.69 % 2020
-1.237406     0.07 % 199
-1.554658     0.04 % 123
 1.352052      0.03 % 77
-1.396032      0.02 % 57
 1.510678      0.02 % 51
 0.568587      0.02 % 50
-0.319042      0.01 % 34
-0.349777      0.01 % 30
-0.508403      0.01 % 21
 4.258762      0.01 % 20
-0.667029      0.01 % 20
 0.592314      0.01 % 20
-0.477668      0.01 % 17
 1.456217      0.01 % 15
 3.023146       0.0 % 13
 0.409961       0.0 % 12
 1.193426       0.0 % 10
 0.599322        0.0 % 9
 2.429042        0.0 % 8
 2.135517        0.0 % 8
 2.422034        0.0 % 8
 0.433688        0.0 % 7
 3.340398        0.0 % 6
 0.251335        0.0 % 6
 0.537852        0.0 % 5
 0.275062        0.0 % 4
 0.464423        0.0 % 4
 2.398307        0.0 % 4
-0.453941        0.0 % 4
-0.295315        0.0 % 4
 3.316672        0.0 % 3
 3.941510        0.0 % 3
 0.623049        0.0 % 3
 2.166252        0.0 % 2
 1.486951        0.0 % 2
 0.379226        0.0 % 2
 2.239681        0.0 % 2
 2.452769        0.0 % 2
-0.636294        0.0 % 2
 2.374581        0.0 % 2
 0.220600        0.0 % 2
 0.646776        0.0 % 1
 0.282070        0.0 % 1
 1.247887        0.0 % 1
 1.138964        0.0 % 1
 0.305797        0.0 % 1
 3.212507        0.0 % 1
 2.270416        0.0 % 1
 1.297590        0.0 % 1
 1.375779        0.0 % 1
 3.181772        0.0 % 1
 2.294143        0.0 % 1
 2.483504        0.0 % 1
 1.541413        0.0 % 1
 2.104782        0.0 % 1
 2.081055        0.0 % 1
 4.100136        0.0 % 1
 1.479943        0.0 % 1
Name: pcdecision_trths, dtype: object


###----------------------------------------###


0.000000    0.39 % 1160
4.258085        0.0 % 2
4.743116        0.0 % 2
4.811588        0.0 % 2
2.203360        0.0 % 1
               ...
4.047517        0.0 % 1
6.497634        0.0 % 1
3.958750        0.0 % 1
4.064499        0.0 % 1
2.155917        0.0 % 1
Name: distdlr_imputed_trt, Length: 1841, dtype: object


###----------------------------------------###


0.000000    0.69 % 2082
4.811588        0.0 % 2
3.698689        0.0 % 1
5.098385        0.0 % 1
2.203360        0.0 % 1
               ...
4.448805        0.0 % 1
2.146963        0.0 % 1
4.221511        0.0 % 1
3.616496        0.0 % 1
2.155917        0.0 % 1
Name: distdlr_imputed_trth, Length: 921, dtype: object


###----------------------------------------###


0.000000    0.69 % 2081
4.258085        0.0 % 2
4.743116        0.0 % 2
4.326544        0.0 % 1
7.664955        0.0 % 1
               ...
4.079191        0.0 % 1
5.808414        0.0 % 1
9.447281        0.0 % 1
3.905735        0.0 % 1
4.466886        0.0 % 1
Name: distdlr_imputed_trths, Length: 921, dtype: object


###----------------------------------------###


10.826815    0.0 % 2
16.405336    0.0 % 1
5.928120     0.0 % 1
2.773966     0.0 % 1
5.426736     0.0 % 1
              ...
10.907778    0.0 % 1
2.837350     0.0 % 1
2.587357     0.0 % 1
5.795151     0.0 % 1
4.083552     0.0 % 1
Name: distdlr_hybrid_b, Length: 2948, dtype: object


###----------------------------------------###


0.000000     0.39 % 1140
17.613346        0.0 % 1
7.615408         0.0 % 1
9.722836         0.0 % 1
6.960526         0.0 % 1
                ...
5.984072         0.0 % 1
4.545229         0.0 % 1
11.992993        0.0 % 1
5.494633         0.0 % 1
4.083552         0.0 % 1
Name: distdlr_hybrid_trt, Length: 1810, dtype: object


###----------------------------------------###


0.000000     0.69 % 2042
3.935120         0.0 % 1
15.273426        0.0 % 1
11.213370        0.0 % 1
5.098385         0.0 % 1
                ...
1.784217         0.0 % 1
14.181396        0.0 % 1
1.804327         0.0 % 1
8.710772         0.0 % 1
2.155917         0.0 % 1
Name: distdlr_hybrid_trth, Length: 908, dtype: object


###----------------------------------------###


0.000000     0.69 % 2047
3.236422         0.0 % 1
18.093821        0.0 % 1
11.215877        0.0 % 1
1.389819         0.0 % 1
                ...
5.908506         0.0 % 1
8.131352         0.0 % 1
17.436605        0.0 % 1
7.446103         0.0 % 1
4.592266         0.0 % 1
Name: distdlr_hybrid_trths, Length: 903, dtype: object


###----------------------------------------###


0.0    0.56 % 1643
1.0    0.44 % 1306
Name: last_lpg_e, dtype: object


###----------------------------------------###


0    0.71 % 2130
1     0.29 % 873
Name: last_lpg_b, dtype: object


###----------------------------------------###


0.0    0.62 % 1825
1.0    0.38 % 1124
Name: last_chulha_e, dtype: object


###----------------------------------------###


1    0.54 % 1629
0    0.46 % 1374
Name: last_chulha_b, dtype: object


###----------------------------------------###


0.0    0.99 % 2928
1.0      0.01 % 21
Name: last_induction_e, dtype: object


###----------------------------------------###


0    0.99 % 2980
1      0.01 % 23
Name: last_induction_b, dtype: object


###----------------------------------------###


-0.560777    0.54 % 1629
 0.834716     0.29 % 873
 0.107037     0.16 % 478
 3.711168      0.01 % 23
Name: fueluse_index_b, dtype: object


###----------------------------------------###


 0.643593    0.44 % 1306
-0.710754    0.38 % 1124
-0.030137     0.17 % 498
 7.931583      0.01 % 21
Name: fueluse_index_e, dtype: object


###----------------------------------------###


0.0    0.47 % 1419
3.0     0.16 % 464
2.0     0.11 % 333
4.0     0.11 % 327
7.0     0.06 % 165
1.0     0.05 % 140
5.0     0.04 % 117
6.0      0.01 % 27
Name: fire_visitb, dtype: object


###----------------------------------------###


0.0    0.59 % 1576
2.0     0.13 % 345
3.0      0.1 % 275
4.0     0.06 % 167
1.0     0.06 % 161
7.0      0.03 % 78
5.0      0.02 % 54
6.0      0.01 % 29
Name: fire_visite, dtype: object


###----------------------------------------###


1    0.61 % 1843
0    0.39 % 1160
Name: dungmakeorcollect_b, dtype: object


###----------------------------------------###


1.0    0.52 % 1523
0.0    0.48 % 1426
Name: dungmakeorcollect_e, dtype: object


###----------------------------------------###


0     0.39 % 1160
7      0.28 % 847
14     0.07 % 196
6      0.04 % 123
4      0.03 % 104
3       0.03 % 91
10      0.02 % 74
8       0.02 % 73
9       0.02 % 70
2       0.02 % 68
5       0.02 % 63
11      0.02 % 49
12      0.02 % 46
1       0.01 % 33
13        0.0 % 6
Name: dungmakeorcollectvisits_b, dtype: object


###----------------------------------------###


0.0     0.48 % 1426
14.0     0.24 % 702
6.0      0.04 % 129
10.0     0.04 % 127
7.0      0.04 % 104
8.0       0.03 % 98
11.0      0.03 % 81
4.0       0.02 % 67
12.0      0.02 % 53
9.0       0.02 % 52
2.0       0.01 % 32
3.0       0.01 % 27
13.0      0.01 % 25
5.0       0.01 % 20
1.0         0.0 % 6
Name: dungmakeorcollectvisits_e, dtype: object


###----------------------------------------###


0.0    0.92 % 2710
1.0     0.08 % 239
Name: induction_use_e, dtype: object


###----------------------------------------###


0    0.94 % 2819
1     0.06 % 184
Name: induction_use_b, dtype: object


###----------------------------------------###


0.00    0.48 % 1376
0.25     0.19 % 558
0.50     0.16 % 473
0.75     0.11 % 304
1.00     0.04 % 109
1.25      0.01 % 41
1.50       0.0 % 14
1.75        0.0 % 4
2.00        0.0 % 3
Name: monthly_winb, dtype: object


###----------------------------------------###



## Control Variable names:

1. Household size: hhnum_b
2. Female headed household: hhgender_1_b
3. Age of primary cook: age_pc_b
4. household head education: edu_hhhead_b
5. primary cook edu: pc_edu_b
6. Household head is married: hhhead_mrtlstatus
7. HH occupation: occu_b
8. SC/ST:  scst_b
9. OBC: obcpop_b
10. hindu: hindu_b
11. hh wealth : assets_index
12. Asha: ashacred_b

In [20]:
# filtering out household characteristics
hh_char = df[["villagecode_str","treatment","tehsil_e","hhnum_b", "hhgender_1_b", "age_pc_b", "edu_hhhead_b", 
                    "pc_edu_b", "hhhead_mrtlstatus", "occu_b",  "scst_b", 
                    "obcpop_b", "hindu_b", "assets_index", "ashacred_b", "att_missing"]]

In [21]:
# remove observations with attribution missing
hh_char_clean = hh_char.loc[hh_char.att_missing == 0]
# check columns just to be sure
hh_char_clean.columns

Index(['villagecode_str', 'treatment', 'tehsil_e', 'hhnum_b', 'hhgender_1_b',
       'age_pc_b', 'edu_hhhead_b', 'pc_edu_b', 'hhhead_mrtlstatus', 'occu_b',
       'scst_b', 'obcpop_b', 'hindu_b', 'assets_index', 'ashacred_b',
       'att_missing'],
      dtype='object')

In [22]:
# check to see if any village has dropped. 
hh_char_clean.groupby("treatment")["villagecode_str"].nunique()
# None have dropped

treatment
0.0    50
1.0    46
2.0    46
Name: villagecode_str, dtype: int64

In [23]:
# check to see how many obvs have dropped from each category
hh_char_clean.groupby("treatment")["villagecode_str"].count()
# the numbers match the table numbers

treatment
0.0    982
1.0    907
2.0    902
Name: villagecode_str, dtype: int64

In [24]:
#### Steps in writing the below function: ####

# get dependent variables first (covariates) as columns
# calculate mean and sample standard deviation using groupby
# for each characteristic we heave to run 2 seperate regressions each:
#         1. treatment 2 dummies for diff with C as the reference to get C-H, C-(H+S)
#         2. treatment 2 dummies for diff with H as the reference to get H-(H+S)


def balance_table(dataframe, treatment, cluster, mean_or_sde):

    '''
    dataframe: pandas dataframe where the columns are the characteristics (covariates)
               the dataframe should also have a treatment column and a cluster id column 
    treatment: the name of the column in the dataframe with control 
               coded as 0, treatment 1 as 1, treatment 2 as 2
    cluster: the name of the column in the dataframe with unique cluster ids. 
             for ex village id, firm id, etc.
    mean_or_sde: for mean input "mean" and for standard error input "sde" 
    
    returns a generator of the paramters of the regression equations
    in the form of a dictionary which can be converted into a pandas dataframe.

    Returns: mean and diffrences between mean of control and treatment
    for all the columns whch are given as imputs (i.e characteristics)
    '''
    # create function to calculate sample standard deviation 
    sample_std_func = lambda x: x.std()/ np.sqrt(x.count())
    

    for char in dataframe.columns:
        
        # calculate mean and sample standard devaition of mean for each group
        means = dataframe.groupby(treatment)[char].mean()
        sample_std_of_mean = dataframe.groupby(treatment)[char].apply(sample_std_func)

        # run regressions with dummy variablesto calculate the difference 
        # between the means. Cluster standard errorsa at the cluster level
        # 2 treatment dummies (intercept: C) to get C-H, C-(H+S)
        diff_C_exog = sm.add_constant(
                    pd.get_dummies(dataframe[treatment], 
                    drop_first=True))

        diff_C_reg  = sm.OLS(
                            endog = dataframe[char],
                            exog  = diff_C_exog
            ).fit(cov_type='cluster', cov_kwds={'groups': dataframe[cluster]})
        
        # 2 treatment dummies (intercept: H) to get H-(H+S), H-C
        diff_C_exog = sm.add_constant(
                    pd.get_dummies(dataframe[treatment],
                    drop_first=False).drop(1.0, axis= 1) 
                    # drop dummies for H to make it reference
                    )
        
        diff_H_reg  = sm.OLS(
                            endog = dataframe[char],
                            exog  = diff_C_exog
            ).fit(cov_type='cluster', cov_kwds={'groups': dataframe[cluster]})

        # collect estimated parameters and standard errors

        if mean_or_sde == "mean":
            yield {
                "C":  means[0], 
                "H":  means[1], 
                "H + S": means[2],
                "C-H" : -diff_C_reg.params[1], 
                "C-(H + S)" : -diff_C_reg.params[2], 
                "H-(H + S)" : -diff_H_reg.params[2] 
            }
        elif mean_or_sde == "sde":
            yield {
                "C":  sample_std_of_mean[0], 
                "H":  sample_std_of_mean[1], 
                "H + S": sample_std_of_mean[2],
                "C-H" : diff_C_reg.bse[1], 
                "C-(H + S)" : diff_C_reg.bse[2], 
                "H-(H + S)" : diff_H_reg.bse[2] 
            }

In [25]:
# using the defined function to create a pandas dataframe, for mean and sde
# remove first 3 and last row and round the values
bm = balance_table(hh_char_clean, "treatment",  "villagecode_str",  "mean")
bal_mean = pd.DataFrame(bm, index = hh_char_clean.columns).iloc[3:-1].round(2)


bs = balance_table(hh_char_clean, "treatment",  "villagecode_str",  "sde")
bal_sde  =  pd.DataFrame(bs).iloc[3:-1].round(3)

In [26]:
def std_below_mean(mean_df, sde_df):
    ''''
    function combines the mean and std dataframes.
    first entry is the mean df and second is the std df 
    Make sure the names of the covariates are in mean_df.index 

    returns another dataframe with std below means 
    '''
    # create empty dataframe with same column names and twice as many rows
    new_df = pd.DataFrame({}, 
                          columns=mean_df.columns, 
                          index=[i  for i in  range(0,len(mean_df)*2)])
    # collect all covariate names in the list
    covariate_names = []
    # in the new database put the mean and standard dev values one after the other
    for index_12  in range(0, len(mean_df)):
        new_df.iloc[index_12*2] = mean_df.iloc[index_12]  
        new_df.iloc[(index_12*2)+1] = sde_df.iloc[index_12]
        covariate_names.append(mean_df.index[index_12])  
        covariate_names.append("_")  
    # add covariates names to the datatframe. and there we have it
    new_df.insert(0, "covariates", covariate_names, True)

    return new_df

In [27]:
baseline_covariate_balance = std_below_mean(bal_mean, bal_sde)
baseline_covariate_balance

           covariates      C      H  H + S    C-H C-(H + S) H-(H + S)
0             hhnum_b   6.13   6.15   6.17  -0.02     -0.04     -0.02
1                   _  0.076  0.075  0.072  0.134     0.132     0.133
2        hhgender_1_b   0.06   0.06   0.07   0.01     -0.01     -0.02
3                   _  0.008  0.008  0.009  0.011     0.012     0.012
4            age_pc_b  34.16  33.89  33.57   0.27      0.59      0.32
5                   _  0.377  0.373  0.369  0.721     0.677      0.64
6        edu_hhhead_b   0.42   0.43   0.37  -0.01      0.05      0.06
7                   _  0.016  0.016  0.016  0.031     0.029     0.033
8            pc_edu_b   0.37   0.36   0.34   0.01      0.03      0.02
9                   _  0.015  0.016  0.016  0.031     0.029     0.032
10  hhhead_mrtlstatus   0.93   0.93   0.93    0.0       0.0       0.0
11                  _  0.008  0.009  0.009  0.012     0.013     0.012
12             occu_b   0.51   0.53   0.49  -0.02      0.02      0.04
13                  _  0.016  0.017  0.017  0.031     0.034     0.032
14             scst_b   0.39   0.41   0.43  -0.01     -0.03     -0.02
15                  _  0.016  0.016  0.016  0.044     0.054     0.051
16           obcpop_b   0.43   0.42   0.44   0.01      -0.0     -0.01
17                  _  0.016  0.016  0.017  0.048     0.051      0.05
18            hindu_b   0.93   0.93   0.89   -0.0      0.04      0.04
19                  _  0.008  0.008   0.01  0.037     0.043     0.048
20       assets_index   1.55   1.63   1.51  -0.08      0.04      0.13
21                  _  0.024  0.025  0.026  0.059      0.06     0.061
22         ashacred_b   0.83   0.81   0.84   0.02     -0.01     -0.03
23                  _  0.012  0.013  0.012  0.022     0.022     0.024

## Fuel Consumption Variable names baseline ###

1. Use firewood for cooking: fire_1_b
2. Use LPG for cooking: lpg_1_b
3. Use dungcakes for cooking: dung_1_b
4. Use induction stove for cooking: induction_use_b
5. Qty. of firewood purchased last month (kg): firewood_qty_b
6. Qty. of dung cakes purchased last month: dung_qty_b
7. Have LPG connection: hhscr_8_b
8. Total no. of LPG refills (annual):  totrefills_omc_b2
9. No. of LPG refills per month (winter): monthly_winb
10. No. of LPG refills per month (summer): monthly_sumb
11. No. of LPG refills per month (monsoon): monthly_wetb

In [28]:
# there are null values in the LPG data
df.groupby("treatment")["totrefills_omc_b2"].apply(lambda x: sum(x.isna()))
df.groupby("treatment")["dung_qty_b"].mean()

treatment
0.0    20.565000
1.0    37.777535
2.0    32.467970
Name: dung_qty_b, dtype: float64

In [29]:
hh_fuelcons = df[["villagecode_str","treatment","tehsil_e", "fire_1_b", "lpg_1_b", 
                "dung_1_b", "induction_use_b", "firewood_qty_b", "dung_qty_b", "hhscr_8_b",
                "totrefills_omc_b2", "monthly_winb", "monthly_sumb", "monthly_wetb",  "att_missing"]]

# remove observations with attribution missing
hh_fuelcons_c = hh_fuelcons.loc[hh_fuelcons.att_missing == 0] 
#  drop na values
hh_fuelcons_1 = hh_fuelcons_c.dropna(inplace = False)

In [30]:
fuel_bm = balance_table(hh_fuelcons_1, "treatment", "villagecode_str",  "mean")
fuel_bal_mean = pd.DataFrame(fuel_bm, index = hh_fuelcons_1.columns).iloc[3:-1].round(2)

fuel_bs = balance_table(hh_fuelcons_1, "treatment", "villagecode_str",  "sde")
fuel_bal_sde = pd.DataFrame(fuel_bs, index = hh_fuelcons_1.columns).iloc[3:-1].round(3)

In [31]:
baseline_fuelcons_balance = std_below_mean(fuel_bal_mean, fuel_bal_sde)
baseline_fuelcons_balance

           covariates      C      H  H + S     C-H C-(H + S) H-(H + S)
0            fire_1_b   0.75   0.74   0.76    0.02     -0.01     -0.03
1                   _  0.014  0.015  0.014   0.031      0.03     0.031
2             lpg_1_b   0.71   0.76   0.73   -0.05     -0.02      0.03
3                   _  0.015  0.014  0.015   0.033     0.031     0.029
4            dung_1_b   0.87   0.88   0.87   -0.01      -0.0      0.01
5                   _  0.011  0.011  0.011   0.019     0.021     0.021
6     induction_use_b   0.06   0.07   0.05   -0.02       0.0      0.02
7                   _  0.007  0.009  0.008   0.014     0.012     0.014
8      firewood_qty_b   9.47  15.88  12.59   -6.41     -3.13      3.28
9                   _  1.742  4.122  2.422    4.72       3.3     4.922
10         dung_qty_b  20.91  38.35  33.14  -17.44    -12.23      5.21
11                  _   2.31  9.833  3.743  10.115     5.154     10.69
12          hhscr_8_b   0.64    0.7   0.67   -0.06     -0.03      0.03
13                  _  0.016  0.016  0.016   0.032     0.032     0.031
14  totrefills_omc_b2   3.12   3.34   3.32   -0.22     -0.19      0.02
15                  _  0.107  0.114  0.117   0.292     0.297     0.281
16       monthly_winb   0.27   0.29   0.28   -0.01      -0.0      0.01
17                  _  0.011  0.011  0.012   0.027     0.028     0.026
18       monthly_sumb   0.28    0.3   0.31   -0.02     -0.03     -0.01
19                  _  0.012  0.012  0.012   0.026     0.026     0.025
20       monthly_wetb    0.3   0.32   0.32   -0.03     -0.02       0.0
21                  _  0.011  0.012  0.012   0.029      0.03     0.029